.table-content {
    height: 420px;
    overflow: auto;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
}

    .main-table th {
        border: 1px solid #000;
    }

    .main-table td {
        border: 1px solid #000;
    }

.uncheck {
    width: 24px;
    background: url('/Contents/images/uncheck.png') center no-repeat;
}

.select {
    background-color: #00ff21;
}

.tick {
    background-color: #00ff21;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#dialog {
    display: none;
}

.hide-button {
    display: none;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

    .detail-table th {
        border: 1px solid #000;
    }

    .detail-table td {
        border: 1px solid #000;
    }
